<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Partie
	</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0 auto;
			padding: 15px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.inputDiv {
			display: flex;
			gap: 4px;
			align-items: center;
			margin-top: 8px;

		}

		.input {
			outline: none;
			border: 1px solid gray;
			border-radius: 5px;
			padding: 8px;
			width: 200px;
		}
	</style>
</head>

<body>
	<div class="inputDiv" id="input_body">
		<span>id Niveau:</span>
		<input type="text" class="input" id="id_niveau" />

		<button id="construirebtn">construire</button>
		<button id="sumbtn">somme</button>

	</div>



	<script src="/socket.io/socket.io.js"></script>
	<script src="https://momentjs.com/downloads/moment.min.js"></script>

	<script>
		const socket = io();

		const niveau = document.getElementById('id_niveau');
		const construire = document.getElementById('construirebtn');
		const somme = document.getElementById('sumbtn');


	</script>
</body>

</html>